* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.en-tete {
    background-color: #D3D3D3;
    padding: 10px;
    font-size: 1.3rem;
}

.menu {
    background-color: grey;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.menu li:hover {
    background-color: #141414;
}

.menu .my_cv {
    background-color: #c4c2c2;
}

.contenu {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 10px;
}

.contenu h1 {
    font-weight: normal;
    font-variant: small-caps;
}

h1 span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 7px solid purple;
    border-radius: 50%;
    margin-right: 10px;
}

.partie-cv {
    border: dashed 1px #c4c2c2;
    border-left: solid purple 7px;
    margin: 20px 0;
    padding: 25px;
}

.partie-cv h2 {
    color: purple;
    margin: 10px 20px;
    font-size: 1.3rem;
}

.partie-cv ul {
    margin: 10px 20px;
}

.partie-cv img {
    border: dashed 1px #c4c2c2;
    padding: 1.5px;
    border-radius: 25% 45% 25% 45%;
    float: right;
}

.etat-civil ul {
    list-style-type: circle;
}

.etat-civil li {
    padding: 5px;
}

li span {
    font-style: italic;
    color: purple;
}

.competence-niveau {
    display: inline-block;
    border: solid 0.5px;
    width: 150px;
    height: 13px;
}

.competence-niveau-texte {
    background-color: purple;
    height: 100%;
    width: 75%;
}

.competence-niveau-web {
    background-color: purple;
    height: 100%;
    width: 80%;
}

.competence-niveau-pao {
    background-color: purple;
    height: 100%;
    width: 50%;
}